
<?php $this->setEncoding('UTF-8');
$this->headMeta()->appendHttpEquiv('Content-Type', 'text/html;charset=UTF-8');
$this->headTitle('Tercer dia - Portadas para facebook con palabra para ti');
 

$this->headMeta()->setProperty('fb:app_id', $this->fbappid);
$this->headMeta()->setProperty('og:type', 'website');
$this->headMeta()->setProperty('og:url','http://www.tercerdia.com/');
$this->headMeta()->setProperty('og:title','Tercerdia');
$this->headMeta()->setProperty('og:description','Portadas para facebook con sentido, descarga portadas y comparte la palabra de Dios en tu vida');
$this->headMeta()->setProperty('og:image','http://www.tercerdia.com/img/logo.jpg');



 function normaliza ($cadena){
    return strtolower(htmlentities(urlencode($cadena)));
};?>
<?php echo $this->render('_partials/loginfb.phtml');?>

<script type="text/javascript" >
$(document).ready(function() {

<?php 	if($this->messages){
		if($this->messages[0]=='portadaeliminada'){?>
		new Messi('Portada borrada exitosamente.',{modal:true,buttons:[{id:0,label:'Cerrar',val:'C',btnClass:'ok'}],callback:function(val){
				location.href='http://<?php echo $this->hostname.$this->baseUrl();?>';
			}});

<?php }}?>

	
	$('.deletebutton').click(function(){
		var x=$(this).attr('idportada');
			new Messi('Desea borrar esta portada?',  {title: 'Borrar portada', buttons: [{id: 0, label: 'Si',
			 val: 'Y', btnClass: 'btn-success'}, {id: 1, label: 'No', val: 'N', btnClass: 'btn-danger'}],modal:true,
				 callback: function(val) { 
				 			if(val=='Y'){
			 					location.href='http://<?php echo $this->hostname.$this->baseUrl();?>/admin/delete/portada/'+ x;
				 			} 
			 			}
				 });
 
	});
});
</script>


<div class="grid_2">
	<div style="color:white;">.
	<div class="barramenu">
		<h4>¿ Como te sientes hoy ?</h4>
		<div class="menu">
			<ul>
				<?php foreach ($this->categorias as $categoria){?>
				<li><a href="<?php echo  $this->baseUrl().'/pagina/'.$categoria['idCategoria'].'/'.$categoria['cTitulo'].'/1'; ?>"><?php echo ($categoria['cTitulo']);?></a></li>
				<?php }?>
			</ul>
		</div>
                <div >
                             <div >
                             <?php if($this->userauth['admin']==1){ ?>
                             <div id="boton" class="boton" style="width:95px;margin-top:10px;"><a href="<?php echo $this->baseUrl();?>/admin/nuevo">Agregar Portada</a></div>
                             <?php }else{echo "&nbsp;";}?>
                             </div>
                             <div >
                             <?php if($this->userauth['admin']==1){ ?>
                              <div id="boton" class="boton" style="width:110px;margin-top:10px;"><a href="<?php echo $this->baseUrl();?>/admin/categoria">Agregar Categoría</a></div>
                              <?php }else{echo "&nbsp;";}?>
                              </div>
              </div>
	</div>
	</div>
</div>
<div class="grid_10">
		<div style="min-height:550px;">
                     <?php 
		Zend_Paginator::setDefaultScrollingStyle('Elastic');
                Zend_View_Helper_PaginationControl::setDefaultViewPartial(
    'partials/control.phtml');
                     $page = $this->page;
		$page=(int)$page;
		$paginator=Zend_Paginator::factory($this->backgrounds);
		$paginator->setItemCountPerPage(5);
		$paginator->setCurrentPageNumber($page);
                
                                        echo $this->paginationControl($paginator,'Elastic','/partials/control.phtml',array('cat'=>$this->cat,'nombreCat'=>$this->nombreCat));
                
				if(count($paginator)){	
				 foreach ($paginator as $background){
				$this->headMeta()->appendName('keywords', $background['cKeywords']);
				?>
				 <div class="contenedorbackground">
                                                                                                    <?php if($this->userauth['admin']){?>
				 	<div class="deletebutton" idportada="<?php echo $background['idBackground'];?>">	<strong>Borrar esta portada</strong> </div> 
				 	<?php }?>
                                                                                            <div style="height:75px; vertical-align: text-bottom;">
					<h3 >"<?php echo stripslashes($background['cTitulo']); ?>"</h3>
                                                                                                    <div style="float:left;margin-left:10px;" >
                                                                                                            <div class="fb-like" data-href="http://<?php echo $this->hostname.$this->baseUrl()."/portada/".normaliza(($background['cTitulo'])).'/'.$background['idBackground'];?>" data-send="true" data-layout="button_count" data-width="100" data-show-faces="false"></div>
                                                                                                    </div>    
                                                                                                    <div style="float: left;margin-left:40px;">
                                                                                                            <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.tercerdia.com&media=http://<?php echo $this->hostname.$this->baseUrl().$background['cUrl'];?>&description=<?echo ($background['cTitulo']).' - ';?>Tercerdia.com%20%20-%20Portadas%20de%20facebook%20con%20sentido" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
                                                                                                    </div>
                                                                                            </div>
                                                                                          <div class="contenedorback">
						<?php if($this->userauth){?>
                                                                                               
						<div class="imagenprofile">
                                                                                                                        <a  href="<?php echo $this->baseUrl();?>/portada/<?php echo normaliza(($background['cTitulo'])).'/'.$background['idBackground'];?>">  
							<img src="http://graph.facebook.com/<?php echo $this->userauth['username'];?>/picture?type=large">
                                                                                                                        </a>
						</div>
						<?php }?>
						<div class="imagenface">
                                                                                                                                 <a  href="<?php echo $this->baseUrl();?>/portada/<?php echo normaliza(($background['cTitulo'])).'/'.$background['idBackground'];?>">  
							<img src="<?php echo $this->baseUrl();?>/portadas/fb750.png">
                                                                                                                                 </a>
						</div>       
						<div class="imagenback">
                                                                                                                                 <a  href="<?php echo $this->baseUrl();?>/portada/<?php echo normaliza(($background['cTitulo'])).'/'.$background['idBackground'];?>">  
							<img src="<?php echo $this->baseUrl().$background['cUrl'];?>"/>
                                                                                                                                 </a>
						</div>
					</div>
                                                                                          
					<p style="clear:both;"><b>Portada de facebook</b> - <?php echo stripslashes($background['cDescripcion']);?></p>
					<div class="tags" style="display:none">
					<span>CATEGORIAS:</span>
					<?php $RelBackgroundCategoria=new Application_Model_RelBackgroundCategoria();
							$categoria_background=$RelBackgroundCategoria->getBackgroundCategoria($background['idBackground']);
							foreach ($categoria_background as $cat){ 
					?>
							<span><b><?php echo $cat['cTitulo'];?></b></span>
					<?php }?>
					</div>
				</div>
				<?php }
				
				echo $this->paginationControl($paginator,'Elastic','/partials/control.phtml',array('cat'=>$this->cat,'nombreCat'=>$this->nombreCat));
				}else{echo "<div style='text-align: center;'><h3>No hay portadas</h3></div>";}?>
		</div>	
</div>
<div class="clear"></div>
