<?php
$this->headMeta()->setProperty('fb:app_id', $this->fbappid);
$this->headMeta()->setProperty('og:type', 'website');
$this->headMeta()->setProperty('og:url', 'http://www.tercerdia.com/lideres');
$this->headMeta()->setProperty('og:title','Líderes');
$this->headMeta()->setProperty('og:description','Tabla de líderes de tercerdia.com, entra ya crea tu cuenta y obten portadas para facebook con sentido ');
$this->headMeta()->setProperty('og:image','http://www.tercerdia.com/img/corona.jpg');
?>
<?php echo $this->render('_partials/loginfb.phtml');?>
<div class="grid_8 postfix_4">
     <div style="text-align:left;">
     <?php echo $this->paginator; ?>
     </div>
</div>
<div class="grid_8">
     <div style="background-color:#DDD;">
          <div style="background-color:#4D8793;padding: 5px 0 5px 0;border-top: white 1px solid;border-bottom: #888 solid 1px;">
                    <div class="etiquetas" style="font-weight: bold;color:white; float:left;width:320px;padding-left:30px;text-align: center;">LÍDERES</div>
                    <div class="etiquetas" style="color:white;float:right;width:70px;">#Descargas</div>
                    <div class="etiquetas" style="color:white;float:right;width:70px;">#Cargas</div>
                    <div class="etiquetas" style="color:white;float:right;width:70px;">#Vistas</div>
                    <div style="clear:both"></div>
               </div>
          <?php $pos=$this->pos; foreach ($this->paginator as $lider){ ?>
               <div style="padding: 5px 0 5px 0;border-top: white 1px solid;border-bottom: #888 solid 1px;">
                    <div class="etiquetas" style="float:left;width:50px;margin-left: 10px;"><?php echo $pos; ?></div>
                    <div style="float:left;width:50px;"><img src="http://graph.facebook.com/<?php echo $lider['idUsuario']; ?>/picture?type=small" width="32" height="32"/></div>
                    <div class="etiquetas" style="float:left;width:250px;"><?php echo $lider['cNombre']; ?></div>
                    <div class="etiquetas" style="float:right;width:80px;text-align: right;padding-right: 5px;"><?php echo $lider['iDescargas'] ?></div>
                    <div class="etiquetas" style="float:right;width:70px;text-align: right;padding-right: 5px;"><?php echo $lider['iCargas'] ?></div>
                    <div class="etiquetas" style="float:right;width:65px;text-align: right;padding-right: 5px;"><?php echo $lider['iVistas'] ?></div>
                    <div style="clear:both"></div>
               </div>
          <?php $pos++;} ?>
     </div>
</div>
<div class="grid_4">
     <script type="text/javascript"><!--
google_ad_client = "ca-pub-6262998324427492";
/* ET-banner 300-250 */
google_ad_slot = "1608745243";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<br>
<br>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-6262998324427492";
/* Texto 300x250 */
google_ad_slot = "7593750381";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
<div class="clear"></div>
<div class="grid_12">
     <div style="color:white;height: 20px;">
          
     </div>
</div>

