<script type="text/javascript" >
$(document).ready(function() {

<?php 	if($this->messages){ ?>
		new Messi('<?php echo $this->messages[0];?>',{modal:true,buttons:[{id:0,label:'Cerrar',val:'C',btnClass:'ok'}]});
<?php }?>
});
</script>

<div class="grid_4">
	<div style="margin:10px 0 70px 0;">
	<a href="http://<?php echo $this->hostname.$this->baseUrl();?>">
			<div style="float:left"><img src="<?php echo $this->baseUrl();?>/img/home.png" ></div><div class="home">Inicio</div>
	</a>
	</div>
</div>
<div class="grid_8">
	<div>
			<h4>Administrador - <?php echo $this->userauth['name'];?></h4>
	</div>
</div>
<div class="clear"></div>
<div class="prefix_3 grid_9">
	<div>
	<h3>Crear una nueva portada</h3>
<?php
if($this->userauth['admin']){
	echo $this->formulario;
?>


<?php 
}

?>
	</div>
</div>