<?php 
$url=parse_url($this->urlactual); 
$doctypeHelper = new Zend_View_Helper_Doctype();
$doctypeHelper->doctype('XHTML1_RDFA');
echo $this->doctype();

$this->headMeta()->setProperty('fb:app_id', $this->fbappid);
$this->headMeta()->setProperty('og:type', 'tercerdia:word');
$this->headMeta()->setProperty('og:url', 'http://'.$url['host'].$url['path']);
$this->headMeta()->setProperty('og:title',stripslashes($this->background['cTitulo']));
$this->headMeta()->setProperty('og:description','Yo creo en esta palabra - '.stripslashes($this->background['cDescripcion']));
$this->headMeta()->setProperty('og:image',html_entity_decode('http://'.$this->hostname.$this->baseUrl().'/crop2.php?img=http://'.$this->hostname.$this->baseUrl().$this->background['cUrl'].'&width=250&height=250'));

echo $this->render('_partials/loginfb.phtml');
$this->headTitle(stripslashes($this->background['cTitulo']).' - '.stripslashes($this->background['cDescripcion']));
$this->headMeta()->appendName('keywords', $this->background['cKeywords']);?>

  <script type="text/javascript">
$(document).ready(function() {
  function YoCreo()
  {

	  FB.getLoginStatus(function(response) {
		  if (response.status === 'connected') {
			      FB.api(
			        '/me/tercerdia:believe',
			        'post',
			        { word: '<?php echo  'http://'.$url['host'].$url['path'];?>' },
			        function(response) {
			           if (!response || response.error) {
			              console.log('No estas logueado');
			           } else {
                                      location.reload();  
			           }
			        });
		  }
		  else{
			  	location.href='<?php echo $this->loginurl; ?>';
		  }
	  });
  }

  $("#escritura").click(function(){
		YoCreo();
  });

  $("#escritura2").click(function(){
		YoCreo();
	});
  
  
});
  </script>

<div class="grid_8">
		<div style="margin-left:50px;height:50px;">
			<h3>"<?php echo stripslashes($this->background['cTitulo']); ?>"</h3>
		</div>
                    <div>
		<div  style="float: left;margin-left: 50px;margin-top: -15px;margin-bottom: 20px;">
			<div class="fb-like" data-href="<?php echo 'http://'.$url['host'].$url['path']; ?>" data-send="true" data-layout="button_count" data-width="100" data-show-faces="false"></div>
		</div>
                                        <div  style="float: left;margin-left: 50px;margin-top: -15px;margin-bottom: 20px;">
                                                    <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.tercerdia.com&media=http://<?php echo $this->hostname.$this->baseUrl().$this->background['cUrl'];?>&description=<?echo ($this->background['cTitulo']).' - ';?>www.Tercerdia.com%20%20-%20Portadas%20de%20facebook%20con%20sentido" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
                                         </div>
                     </div>
</div> 
<div class="grid_4">
	<div style="text-align:right;margin-right:50px;">
		<div id="escritura" style="cursor:pointer; float:right;margin-top:<?php if(!$this->sicreo){echo '-10px';}else{echo '-20px';}?>;margin-left:10px;"><img width="40" height="40" src="<?php if(!$this->sicreo){ echo $this->baseUrl().'/img/gris.png';}else{echo $this->baseUrl().'/img/feliz.png';}?>"></div>
		<div class="anuncio" style="text-align:right;margin-top:-6px;float:right;">
			<span id="escritura2" style="cursor: pointer;"> 
			<?php if(!$this->sicreo){?>¿Te ayudó esta palabra?<br> haz click si creiste en ella ! <?php }?> 
			
				<?php if($this->sicreo){?>
				<b>Tu haz creido en esta palabra!</b>
				<?php }?>
			</span> 
		</div>
	</div>
</div>
<div class="clear"></div>  
<div class="grid_12">
	<div>
		<div style="text-align: center;" >
			<img src="<?php echo $this->baseUrl().$this->background['cUrl'];?>">
		</div>
		<p class="todo"><b>Portada de facebook - </b><?php echo stripslashes($this->background['cDescripcion']);?></p>
	</div>
</div>
<div class="clear"></div>
<div class="grid_3">
			<div class="contadores"> Vistas: <strong><?php echo  $this->background['iVistas'];?></strong></div>
			<div class="contadores"> Descargas: <strong><?php echo  $this->background['iDescargas'];?></strong></div>
</div>
<div class="grid_9">
		<div class="tags" style="margin-top:0px!important;">
					<span>CATEGORIAS:</span>
					<?php $RelBackgroundCategoria=new Application_Model_RelBackgroundCategoria();
							$categoria_background=$RelBackgroundCategoria->getBackgroundCategoria($this->background['idBackground']);
							foreach ($categoria_background as $cat){ 
					?>
							<span><b><?php echo $cat['cTitulo'];?></b></span>
					<?php }?>
			</div>
</div>
<div class="prefix_8 grid_2">
	<div>
		<a href="<?php echo $this->baseUrl();?>/index/uploadportada/id/<?php echo $this->background['idBackground'];?>">
			<div id="boton" class="boton" style="width:130px;">Cargar en Facebook</div>
		</a>
	</div>
</div>
<div class="grid_2">
	<div>
		<a href="<?php echo $this->baseUrl();?>/index/descarga/id/<?php echo $this->background['idBackground'];?>">
		<div id="boton" class="boton" style="width:120px;">Descargar Portada</div>
		</a>
	</div>
</div>
<div class="clear"></div>
<div class="grid_8">
	<h4>Coméntanos como te ayudó esta palabra:</h4>
	<div class="fb-comments" data-href="<?php echo 'http://'.$url['host'].$url['path'];?>" data-num-posts="4" data-width="600"></div>
</div>
<div class="grid_4">
		<div style="text-align: center;margin-top: 35px;">
			<h6 style="margin-bottom:0px;">Ayúdanos a continuar esparciendo la palabra de vida:</h6>
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="84WX64DBLQNCA">
			<input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
			<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
			</form>
			<br>
			<p style="color:#777;font-size:12px;text-align: center;">Puedes donar el monto que tú decidas. Gracias!</p>
		</div>
</div>

