<div class="grid_12">
     <div style="text-align: center;height:100px;">
          <h3 style="text-align: center!important;">El Equipo de desarrollo</h3>
     </div>
</div>
<div class="clear"></div>
<div class="prefix_3 grid_3">
     <img src="/img/jesusarriaga.jpg" width="148" height="154">
</div>
<div class="grid_6">
     <h4>Jesus Arriaga</h4>
</div>


<div class="clear"></div>