@CHARSET "UTF-8";
li{	margin-left:2px!important;}

.menu ul li a {display: block;overflow: auto; /*force hasLayout in IE7 */color: white;text-decoration: none;padding: 5px 0 5px 10px;
border-bottom: 1px solid #FFF;border-right: 1px solid #FFF;font-family: 'Autour One', cursive;font-size:12px;
}

body{background:url(../img/backlunes.jpg) top center no-repeat; background-color:#ffffff;background-attachment: fixed;    }

label{font-family: 'ABeeZee', sans-serif;font-size:14px;}
.etiquetas{font-family: 'ABeeZee', sans-serif;font-size:12px;vertical-align: middle;padding-top: 5px;color:#222;}
dd{margin-bottom:10px;}
.errors{color:red;}
.menu ul li a:link, .menu ul li a:visited, .menu ul li a:active{
	background-color:#4d8793; /*background of tabs (default state)*/}
.menu li{list-style: none;list-style-image: none;}
.menu ul li a:hover{background-color: #999;}



.home{	font-family: 'ABeeZee', sans-serif;font-size:14px;float:left;padding-top:10px;}
.saludos{font-family: 'ABeeZee', sans-serif;font-size:14px; color:#3B5998;padding-left:10px;padding-right: 10px;}
.saludos a{color:#3B5998!important;}
.boton a{color:#FFF!important;}
.contadores{float:left;margin-left:10px;color:#777;margin-bottom:10px;}
.todo{margin-top:10px;}
.anuncio{font-family:'ABeeZee', sans-serif;	font-size:12px; color:#444;}
.paginationControl{font-family:'ABeeZee', sans-serif;	font-size:12px; color:#555;text-align: right;
margin: 10px 0 10px 0;}
p{	font-family:'ABeeZee', sans-serif;	font-size:16px;	padding:0 50px 0 50px;text-align: justify;color: #555;}
.tags span{font-family:'ABeeZee', sans-serif;	font-size:12px;color:#777;margin-left:10px;padding:0 5px 0 5px;
}
.tags{margin-top:-5px;color:#777;}

/** Contenedor para portada index.html **/
.contenedorbackground{margin-bottom:35px;border-bottom:1px solid #DDD;}
.imagenface{position:absolute;z-index:0;}
.imagenback{margin-left: 16px;	margin-top: 28px;	position:absolute;	z-index:-1;}
.imagenprofile{position:absolute;z-index:2;margin-top: 196px;	margin-left: 40px;}
.imagenprofile img{width: 137px;height: 138px;}
.imagenback img{	width: 726px;	height: 267px;}
.comentarioswrap{position:relative;height: 900px;width:960px;}
.comentariosfb{position:absolute;z-index:0;width:550px;top:150px;left:160px;}
.speech{position:absolute;	z-index:-1;}
.speech img{	width: 870px;	height: 850px;}
.contenedorback{position:relative;width:770px;height: 450px;margin-top:0px;}
.linkback{width:770px;height: 450px;}

.exito{background-color:green;color:white; font-weight: bold;}
.exito a{ text-decoration: underline; }

.barramenu{padding-top:0px;position:fixed;width:140px;}

.boton{	background-color:#3B5998;color:#FFF;margin:0 0 10px 0;padding-left:5px; padding-right: 5px;}

a, a:link, a:visited{color:#444;text-decoration: none;}

h4{	text-align:left;font-family: 'Autour One', cursive;font-size:14px;color:#4d8793;}

.pie{text-align:center; color: white;font-size:20px;padding-top:20px; padding-bottom:20px;background-color: #4D8793;margin-bottom: 0px!important;}
.deletebutton{color:red; cursor: pointer;width:123px;}

h3{	margin-top:-4px;font-family: 'Autour One', cursive;	color: #555; margin-bottom: 0px!important;}