<?php
        $this->headMeta()->setProperty('fb:app_id', '157379247736751');
         $this->headMeta()->setProperty('og:type', 'website');
$this->headMeta()->setProperty('og:url', 'http://www.tercerdia.com/');
$this->headMeta()->setProperty('og:title','Tercerdia');
$this->headMeta()->setProperty('og:description','Portadas para facebook con sentido, descarga portadas y comparte la palabra de Dios en tu vida');
$this->headMeta()->setProperty('og:image','http://www.tercerdia.com/img/logo.jpg');
        echo $this->render('_partials/loginfb.phtml');
        
?>
<div class="grid_12">
     <div style="text-align: center;">
          <h4 style="text-align: center!important;">Cuentanos tu experiencia y como la palabra de Dios se hizo presente en tu vida</h4>
     </div>
    <div class="comentarioswrap">
            <div class="speech">
                    <img src="/img/speech.jpg"/>
            </div>
        <div class="comentariosfb">
            <div style="overflow-y: scroll;overflow-x: hidden;height:470px;width:570px;">
                <div class="fb-comments" data-href="http://www.tercerdia.com/comentarios" data-num-posts="10" data-width="550"></div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>