<div class="grid_8">
	<div style="margin:0 0 70px 0;">
             <div style="float:left;margin-right: 10px;border-right: #ddd 1px solid;padding-right: 5px;"> 
			<div style="float:left;"><a href="http://<?php echo $this->hostname.$this->baseUrl();?>"><img style="margin-top:5px;" src="<?php echo $this->baseUrl();?>/img/home.png" width="24" height="22"></a></div><div class="home"><a href="http://<?php echo $this->hostname.$this->baseUrl();?>">Inicio</a></div>
             </div>
              <div style="float:left;margin-right: 10px;border-right: #ddd 1px solid;padding-right: 5px;">
                        <div style="float:left"><a href="http://<?php echo $this->hostname.$this->baseUrl();?>/comentarios"><img style="margin-top:5px;" src="<?php echo $this->baseUrl();?>/img/speech.png" width="24" height="24"></a></div><div class="home"><a href="http://<?php echo $this->hostname.$this->baseUrl();?>/comentarios">Cuenta tu experiencia</a></div>
             </div>
             <div style="float:left;margin-right: 10px;">
                        <div style="float:left"><a href="http://<?php echo $this->hostname.$this->baseUrl();?>/lideres"><img style="margin-top:5px;" src="<?php echo $this->baseUrl();?>/img/leaderboard.png" width="24" height="24"></a></div><div class="home"><a href="http://<?php echo $this->hostname.$this->baseUrl();?>/lideres">Líderes</a></div>
             </div>
             
	
	</div>
</div>

<div class=" grid_4">
	<div style="float:right;text-align: right;" >
		<?php if($this->userauth['id']){?>
			<div class="saludos" style="width:250;">
				<img src="http://graph.facebook.com/<?php echo $this->userauth['id'];?>/picture?type=square"/> <span > Hola <?php echo $this->userinfo['name'];?></span>	| <a href="<?php echo $this->logouturl;?>">Salir</a>
                                                                                <br>
                                                                                  <div style="cursor:pointer;text-align: right;"><a onclick="sendRequestViaMultiFriendSelector()"><h5 style="font-size:14px;">Invita a tus amigos</h5></a></div>
			</div>
		<?php }else{?>
				<span class="anuncio">Sube tus portadas con un click!</span>
				<a href="<?php echo $this->loginurl;?>" > <img src="<?php echo $this->baseUrl()."/img/facebook-button.png";?>"/></a>
		<?php }?>
	</div>
</div>
<div class="clear"></div>
