<?$doctypeHelper = new Zend_View_Helper_Doctype();
$doctypeHelper->doctype('XHTML1_RDFA');
echo $this->doctype();?>
<?php $this->headLink()->appendStylesheet($this->BaseUrl()."/css/960/960.css"); 
$this->headLink()->appendStylesheet("http://fonts.googleapis.com/css?family=Dosis:500");?>
<?php $this->headLink()->appendStylesheet($this->BaseUrl()."/css/960/reset.css"); ?>
<?php $this->headLink()->appendStylesheet($this->BaseUrl()."/css/960/text.css"); ?>
<?php $this->headLink()->appendStylesheet("http://fonts.googleapis.com/css?family=ABeeZee|Autour+One"); ?>
<?php $this->headLink()->appendStylesheet($this->BaseUrl()."/css/style.css"); ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Zend Framework Default Application</title>
</head>
<body>
  <h3>Upps! ocurrio un error, F5 o refresca la página </h3>
  <h2><?php //echo $this->message ?></h2>

  <?php if (isset($this->exception)): ?>

  <h3>Exception information:</h3>
  <p>
      <b>Message:</b> <?php echo $this->exception->getMessage() ?>
  </p>

  <h3>Stack trace:</h3>
  <pre><?php echo $this->exception->getTraceAsString() ?>
  </pre>

  <h3>Request Parameters:</h3>
  <pre><?php echo var_export($this->request->getParams(), true) ?>
  </pre>
  <?php endif ?>

</body>
</html>
