 <?php 
if(!$this->cat)
$this->cat=0;

if(!$this->nombreCat)
   $this->nombreCat='todos';    

if ($this->pageCount): ?>
<div class="paginationControl">
<!-- Previous page link -->
<?php if (isset($this->previous)): ?>
  <a href="<?php echo $this->baseUrl().'/pagina/'.$this->cat.'/'.$this->nombreCat.'/'.$this->previous; ?>">
    &lt; Anterior
  </a> 
<?php else: ?>
  <span class="disabled">&lt; Anterior</span> 
<?php endif; ?>
 
 
 <?php echo "<b>".$this->current." de ".$this->last."</b>";?>
 
 
<!-- Next page link -->
<?php if (isset($this->next)): ?>
  <a href="<?php echo  $this->baseUrl().'/pagina/'.$this->cat.'/'.$this->nombreCat.'/'.$this->next; ?>">
    Siguiente &gt;
  </a>
<?php else: ?>
  <span class="disabled">Siguiente &gt;</span>
<?php endif; ?>
</div>
<?php endif; ?>