
<div class="grid_12">
	<div style="text-align: center;margin-top:15%;margin-bottom: 20%">
		<h3 style="font-size:40px;">¡Muchas Gracias por tu Donativo!</h3>
		<p style="text-align:center;font-size:22px;">Proverbios 10:22  "La bendición de Jehová es la que enriquece, <br>y no añade 
		tristeza con ella."</p>
		<a href="/"><b>Regresar al inicio</b></a>
	</div>
</div>