<?php 
$doctypeHelper = new Zend_View_Helper_Doctype();
$doctypeHelper->doctype('XHTML1_RDFA');
echo $this->doctype();
$this->headMeta()->appendHttpEquiv('Content-Type', 'text/html;charset=UTF-8');


?>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# tercerdia: http://ogp.me/ns/fb/tercerdia#  ">
<?php $this->headLink()->appendStylesheet($this->BaseUrl()."/css/960/960.css"); 
$this->headLink()->appendStylesheet("http://fonts.googleapis.com/css?family=Dosis:500");?>
<?php $this->headLink()->appendStylesheet($this->BaseUrl()."/css/960/reset.css"); ?>
<?php $this->headLink()->appendStylesheet($this->BaseUrl()."/css/960/text.css"); ?>
<?php $this->headLink()->appendStylesheet("http://fonts.googleapis.com/css?family=ABeeZee|Autour+One"); ?>
<?php $this->headLink()->appendStylesheet($this->BaseUrl()."/css/style.css"); ?>
<?php $this->headScript()->appendFile($this->BaseUrl()."/js/jquery-1.8.0.min.js"); ?>
<?php $this->headScript()->appendFile($this->BaseUrl()."/js/jquery.corner.js"); ?>
<?php $this->headLink()->appendStylesheet($this->BaseUrl()."/css/messi.min.css"); ?>
<?php $this->headScript()->appendFile($this->BaseUrl()."/js/messi.min.js"); ?>
<link rel="shortcut icon" href="<?php echo $this->BaseUrl()."/img/favicon.ico";?>">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36784138-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<?php $this->headMeta()->appendHttpEquiv('refresh','3600');?>
	<!---------------- Meta Tags----------------------->
	<?php echo $this->headMeta(); ?>
	<!------------------- Title ------------------->
	 <?php     echo $this->headTitle(); ?>
	 <!------------- HeadLink ---------------------->
	<?php 	  echo $this->headLink();	?>
	<!-----------------HeadScript ------------------->
	<?php 	  echo $this->headScript(); ?>

	  <div id="fb-root"></div>
  <script> 
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '<?php echo Zend_Registry::get('fbappid');?>', // App ID
        status     : true, // check login status
        cookie     : true,
        xfbml      : true  // parse XFBML
      });
    };
    
    
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

 function sendRequestViaMultiFriendSelector() {
      FB.ui({method: 'apprequests',
    message: 'TercerDia.com - Portadas para facebook con sentido'
  }, requestCallback);
};

function requestCallback(response) {
        // Handle callback here
      }
  </script>
  
	<script type="text/javascript">
		$(document).ready(function(){
					$(".boton").corner("5px");
                                        $(".redondeado").corner("5px");
				
			});
	</script>
</head>
	<body id="maincontent">
	<!-----------------------------Header Adsense Google ------------------------------------->
		<div class="container_12 header">		
			<div class="grid_12" >
					<div style="height: 120px;margin-bottom:15px;position:relative;">
						<img src="<?php echo $this->BaseUrl()."/img/barratitulo.jpg";?>"/>
                                                <a href="http://www.tercerdia.com"><div style="position:absolute;top: 3px;left: 39px;width:300px;height: 110px;"></div></a>
						<div style="position:absolute;top: 50px;left: 410px;">
                                                  <fb:like href="http://www.tercerdia.com/" send="true" width="450" show_faces="false"></fb:like>
						</div>
                                                
					</div>
			</div>	
	 	</div>
		<!----------------------------- Contenido central ------------------------------------------>
		<div id="contenido_central" class="container_12 ">
				<?php echo $this->layout()->content ?>
		</div>
		<!-----------------------------------  Footer ---------------------------------->
		<div id="pie" class="container_12 ">
		 	<div class="grid_12 ">
		 			<p class="pie redondeado">
		 				2da Reyes 20:5 - "...Yo he oído tu oración, y he visto tus lágrimas;<br> he aquí que yo te sano; al <b>tercer día</b> subirás a la casa de Jehová." 
		 			</p>
                                        <div style="font-size:10px;text-align: center;">www.tercerdia.com - Portadas facebook con sentido.    México Distrito Federal 2012</div>
		 	</div>
		</div>		
                            <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
	</body>
</html>